[Desktop Entry]
Type=Application
Version=0.1
Name=OpenEXR Viewer
Comment=Viewer for OpenEXR images
TryExec=openexr-viewer
Exec=openexr-viewer %f
Categories=Graphics;Viewer;
MimeType=image/x-exr;