[Desktop Entry]
Type=Application
Version=0.6.0
Name=OpenEXR Viewer
Comment=Viewer for OpenEXR images
Icon=openexr-viewer
TryExec=openexr-viewer
Exec=openexr-viewer %f
Categories=Graphics;Viewer;
MimeType=image/x-exr;
